{
  "openapi": "3.0",
  "info": {
    "version": "v1",
    "title": "Projects API"
  },
  "servers": [
    {
      "url": "http://override.host.it/api"
    },
    {
      "url": "http://override.host.it/"
    }
  ],
  "paths": {
    "/projects/Projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Project"
              }
            }
          }
        }
      }
    },
    "/projects/Projects/{id}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/components/schemas/Project"
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/projects/Projects/projectCreate": {
      "post": {
        "tags": [
          "Projects"
        ],
        "operationId": "CreateProject",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "projectViewModel",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ProjectViewModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/projects/Values": {
      "get": {
        "tags": [
          "Values"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "format": "int32",
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          }
        }
      },
      "ProjectViewModel": {
        "required": [
          "name",
          "owner"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 50,
            "type": "string"
          },
          "description": {
            "maxLength": 255,
            "type": "string"
          },
          "owner": {
            "type": "string"
          }
        }
      }
    }
  }
}
